header {
    min-height: 15vh;
}

.tp-lvl-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 15vh;
}


.tp-lvl-nav,
.tp-lvl-nav > li > a,
.secondary-lvl-nav,
.secondary-lvl-nav > li > a  {
    text-decoration: none;
    list-style: none;
    color: inherit;
}

.container {
    display: flex;
    gap: 2rem;
    justify-content: center;
}

.container button {
    height: fit-content;
    width: fit-content;
    font-size: 24pt;
    padding: auto;
    font-weight: bold;
    align-self: center;
}

form {
    display: grid;
    justify-content: space-around;
    justify-items: center;
    gap: 1rem;
    width: 100%;
    grid-template-columns: repeat(auto-fill, 300px);
}

form > * {
    display: grid;
    justify-content: center;
    overflow-y: auto;
    height: clamp(60px, 6rem, 400px);
    margin: none;
}
form > * > textarea {
    height: clamp(20px, 2rem, 100%);
    overflow-y: auto;
    word-wrap: break-word;

}

.hide-block {
    display: none;
}

